<div id="landing">
  <div id="landing-inner">
    <div id="landing-title">
      <h4>Create new account</h4>

      <div class="row center">
        <%= form_for @user, html: {class: "col s12 m8 offset-m2", novalidate: 'true'} do |f| %>
            <%= render 'shared/error_messages' %>

            <div class="row">
              <div class="input-field col s12">
                <%= f.label :name %>
                <%= f.text_field :name %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.label :email %>
                <%= f.email_field :email %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= f.label :password %>
                <%= f.password_field :password %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= f.label :password_confirmation, 'Confirmation' %>
                <%= f.password_field :password_confirmation %>
              </div>
            </div>
            <div class="row">
              <%= f.submit "Create account", class: "btn waves-effect waves-light" %>
            </div>
            <br>
        <% end %>

      </div>
    </div>
  </div>
</div>

<!-- Page-specific styles -->
<style>header, main, footer {
  padding-left: 0;
}</style>