<ul id="slide-out" class="side-nav fixed center user">
  <li>  <%= gravatar_for current_user %></li>
  <li><%= current_user.name %> </li>
  <li><%= current_user.email %></li>

  <li><%= link_to "Profile", current_user %></li>
  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
  <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>