<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Calorie Tracker 2.0</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<header>
  <%= render 'layouts/toolbar' %>
  <%= render 'layouts/sidenav' unless current_page?('/landing') %>
</header>

<main>
  <%= yield %>
</main>

<%= render 'layouts/footer' unless current_page?('/landing') %>
</body>

</html>
